<div class="form-group">
  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %>
</div>
<div class="form-group">
  <%= f.label :blood_group %><br />
  <%= f.select :blood_group, User.blood_groups%>
</div>

<div class="form-group">
  <%= f.label :date_of_birth %><br />
  <%= f.date_field :date_of_birth %>
</div>

<div class="form-group">
  <%= label_tag :gender%> </br>
  <%= f.label :gender, 'male', value: 0%>
  <%= f.radio_button :gender, 0, checked: true %>
  <%= f.label :gender, 'female', value: 1%>
  <%= f.radio_button :gender, 1%>
</div>
<div class="form-group">
  <%= f.label :weight %><br />
  <%= f.text_field :weight %>
</div>
<div class="form-group">
  <%= f.label :mobile_number %><br />
  <%= f.text_field :mobile_number %>
</div>
<div class="form-group">
  <%= f.label :date_of_last_blood_donation %><br />
  <%= f.date_field :date_of_last_blood_donation %>
</div>
<div class="form-group">
  <%= f.label :sms_alert %><br />
  <%= f.check_box :sms_alert %>
</div>

<div class="form-group">
  <%= f.label :password %>
  <% if @minimum_password_length %>
  <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %><br />
  <%= f.password_field :password, autocomplete: "off" %>
</div>


<div class="form-group">
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, autocomplete: "off" %>
</div>
